---
joint_trajectory_publisher:
  ros__parameters:
    robot_name: "LeKiwi"
    joint_trajectory_topic: "/lekiwi_controller/joint_trajectory"
    gripper_command_topic: "/lekiwi_gripper_controller/joint_trajectory"
    ee_frame_name : "gripper_frame_link"
    objects_frame: ["plastic","glass","cardboard", "metal"]
    glass:
      in_grasp_translation_object_to_grasp: [0.038, 0.033, 0.03]
      grasp_from_top: false
    cardboard:
      in_grasp_translation_object_to_grasp: [0.04, 0.025, 0.02]
      grasp_from_top: false
    metal:
      in_grasp_translation_object_to_grasp: [0.04, -0.03, 0.021]
      grasp_from_top: true
    plastic:
      in_grasp_translation_object_to_grasp: [0.045, 0.025, 0.025]
      grasp_from_top: false
    world_frame: "odom"
    base_frame: "base_footprint"
    hand_camera_frame: "camera"
    base_camera_frame: "base_camera"
    rate: 100.0
    nq: 5
    use_genetic_algo: false
    motion_planning_time_coeff: 1.6
    wait_duration_before_vision_action: 1.5
    box_dist_while_placing : 0.27
    box_width: 0.2
    box_length: 0.325
    integration_coeffs_during_traj: [0.1, 0.1, 0.35, 0.1, 0.1]
    integration_coeffs_after_traj: [1.5, 1.8, 1.8, 1.7, 1.7]
    joints_des_precision : [0.02, 0.02, 0.02, 0.02, 0.02]
    joint_names: ["shoulder_pan", "shoulder_lift", "elbow_flex", "wrist_flex", "wrist_roll"]
    friction_compensation: [0.0,0.0,0.0,0.0,0.0]
    q_base_moving : [0.062660, -1.704699, 1.628466, 0.355495, 1.322466]
    q_searching_object: [0.06266021327336462, -0.6611457195787114, 0.19481556006147643, 1.555437137583913, 1.3299613430968509]
    q0_shift_q_searching_object : 0.8
    inverse_kin:
      eps: 0.001
      max_iter: 1000
      dt: 0.1
      damp: 0.000001
      error_weights : [1.0, 1.0, 1.0, 0.15, 0.02, 1.0]
    genetic_algo_inverse_kin:
      population_size: 3000
      max_iter: 30
      nb_keep_ind: 400
      eps: 0.001
      mutation_max_amplitude: 0.1

